<div class="uk-container uk-container-expand">
  <div class="uk-position-top">
    <nav
      class="uk-navbar-container uk-navbar-transparent page-navbar"
      uk-navbar
    >
      <div class="uk-navbar-center">
        <div class="uk-navbar-item uk-logo uk-padding-small">
          <svg width="150" height="150" viewBox="0 0 150 150">
            <defs>
              <mask id="circle-mask">
                <rect width="150" height="150" fill="black" />
                <circle cx="75" cy="75" r="75" fill="white" />
              </mask>
            </defs>
            <g mask="url(#circle-mask)">
              <!-- 
                Adjust x, y, width, height, and transform to zoom and center as needed.
                Increase width+height for zoom-in; use x/y to offset.
              -->
              <image
                href="assets/img/rgfoundationslogo.svg"
                x="-75"
                y="-75"
                width="300"
                height="300"
              />
            </g>
          </svg>
        </div>
        <div class="uk-navbar-right navbar">
          <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="#about">About</a></li>
            <li class="uk-parent"><a href="#admissions">Admissions</a></li>
            <li class="uk-parent"><a href="#academics">Academics</a></li>
            <li class="uk-parent"><a href="#team">Team</a></li>
            <li class="uk-parent"><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="uk-navbar-center-right navbar-mobile">
          <a
            class="uk-navbar-toggle"
            uk-navbar-toggle-icon
            uk-toggle
            href="#offcanvas-slide"
          ></a>
        </div>
      </div>
    </nav>
    <div id="offcanvas-slide" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
          <li class="uk-parent"><a href="#about">About</a></li>
          <li class="uk-parent"><a href="#admissions">admissions</a></li>
          <li class="uk-parent"><a href="#academics">Academics</a></li>
          <li class="uk-parent"><a href="#team">Team</a></li>
          <li class="uk-parent"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="uk-container-expand uk-background-cover container-hero-large"
  style="background-image: url(assets/img/hero-kid-blocks.jpg)"
>
  <div class="uk-padding-large uk-align-center">
    <!-- <div class="uk-text-center">
      <h1>Welcome</h1>
      <p>to</p>
      <h1>Maven In Behavior</h1>
    </div> -->
  </div>
</div>

<div class="uk-section uk-container-expand">
  <div class="uk-container uk-container-expand" id="about">
    <h1 class="uk-heading-medium">RG Foundations</h1>
    <div class="uk-panel">
      <article class="uk-article">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
          faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
          pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
          tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
          Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
          hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent
          per conubia nostra inceptos himenaeos.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
          faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
          pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
          tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
          Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
          hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent
          per conubia nostra inceptos himenaeos.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
          faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
          pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
          tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
          Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
          hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent
          per conubia nostra inceptos himenaeos.
        </p>
      </article>
    </div>
  </div>

  <div
    class="uk-container uk-container-expand uk-margin-xlarge-top"
    id="admissions"
  >
    <h1 class="uk-heading-medium">Admissions</h1>
  </div>

  <div
    class="uk-container uk-container-expand uk-margin-xlarge-top"
    id="academics"
  >
    <h1 class="uk-heading-medium">Academics</h1>

    <div class="uk-child-width-1-1@s" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  School Philosophy
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos. Lorem ipsum
              dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
              sapien vitae pellentesque sem placerat. In id cursus mi pretium
              tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
              Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
              Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
              hendrerit semper vel class aptent taciti sociosqu. Ad litora
              torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="uk-heading-small uk-text-center">Academic Curriculum</h2>

    <div class="uk-child-width-1-2@s" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">TBD 1</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">TBD 2</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-expand" id="team">
  <h1 class="uk-heading-medium">Team</h1>
  <div class="uk-child-width-1-2@s uk-padding-medium" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header dark-card-header uk-border-rounded">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-pill"
                width="150"
                height="150"
                src="assets/img/alana.jpg"
                alt="Alana Usategui Guilarte, Owner and Founder"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom rg-text-xlarge">
                Alana
              </h2>
              <p class="rg-text-large uk-margin-remove">Usategui Guilarte</p>
              <p class="uk-text-meta uk-margin-large-top">Owner & Founder</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body dark-card-body uk-border-rounded">
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header dark-card-header uk-border-rounded">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-object-cover uk-border-pill"
                width="150"
                height="150"
                src="assets/img/christina.jpg"
                alt="Christina Rodriguez, Owner and Founder"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom rg-text-xlarge">
                Christina
              </h2>
              <p class="rg-text-large uk-margin-remove">Rodriguez</p>
              <p class="uk-text-meta uk-margin-large-top">Owner & Founder</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body dark-card-body uk-border-rounded">
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
            faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
            pretium tellus duis convallis. Tempus leo eu aenean sed diam urna
            tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut
            hendrerit semper vel class aptent taciti sociosqu. Ad litora
            torquent per conubia nostra inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container footer" id="contact">
    <footer class="uk-text-center">
      <svg width="150" height="150" viewBox="0 0 150 150">
        <defs>
          <mask id="circle-mask">
            <rect width="150" height="150" fill="black" />
            <circle cx="75" cy="75" r="75" fill="white" />
          </mask>
        </defs>
        <g mask="url(#circle-mask)">
          <!-- 
            Adjust x, y, width, height, and transform to zoom and center as needed.
            Increase width+height for zoom-in; use x/y to offset.
          -->
          <image
            href="assets/img/rgfoundationslogo.svg"
            x="-75"
            y="-75"
            width="300"
            height="300"
          />
        </g>
      </svg>
      <address>
        <p>
          <i class="fas fa-envelope-open-text"></i>
          Email:
          <a href="mailto:info@maveninbehavior.com">info@maveninbehavior.com</a>
          <br />
          <i class="fas fa-phone"></i>
          Phone:
          <a href="tel:305-586-2953">(305) 586-2953</a>
        </p>
        <p>
          <a
            href="https://www.google.com/maps/search/?api=1&query=7701+SW+62nd+Ave+STE+200,+South+Miami,+FL+33143"
            target="_blank"
            >7000 SW 62nd Ave STE 407<br />
            South Miami, FL 33143</a
          >
        </p>
        <p>
          <i class="fas fa-copyright"></i>
          RG Foundations LLC
        </p>
      </address>
    </footer>
  </div>
</div>
