<div class="uk-container uk-container-expand">
  <div class="uk-position-top">
    <nav
      class="uk-navbar-container uk-navbar-transparent page-navbar"
      uk-navbar
    >
      <div class="uk-navbar-center">
        <div class="uk-navbar-item uk-logo uk-padding-small">
          <svg width="150" height="150" viewBox="0 0 150 150">
            <defs>
              <mask id="circle-mask">
                <rect width="150" height="150" fill="black" />
                <circle cx="75" cy="75" r="75" fill="white" />
              </mask>
            </defs>
            <g mask="url(#circle-mask)">
              <!-- 
                Adjust x, y, width, height, and transform to zoom and center as needed.
                Increase width+height for zoom-in; use x/y to offset.
              -->
              <image
                href="assets/img/rgfoundationslogo.svg"
                x="-75"
                y="-75"
                width="300"
                height="300"
              />
            </g>
          </svg>
        </div>
        <div class="uk-navbar-right navbar">
          <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="#about">About</a></li>
            <li class="uk-parent"><a href="#academics">Academics</a></li>
            <li class="uk-parent"><a href="#admissions">Tuition & Fees</a></li>
            <li class="uk-parent"><a href="#team">Team</a></li>
            <li class="uk-parent"><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="uk-navbar-center-right navbar-mobile">
          <a
            class="uk-navbar-toggle"
            uk-navbar-toggle-icon
            uk-toggle
            href="#offcanvas-slide"
          ></a>
        </div>
      </div>
    </nav>
    <div id="offcanvas-slide" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
          <li class="uk-parent"><a href="#about">About</a></li>
          <li class="uk-parent"><a href="#academics">Academics</a></li>
          <li class="uk-parent"><a href="#admissions">Tuition & Fees</a></li>
          <li class="uk-parent"><a href="#team">Team</a></li>
          <li class="uk-parent"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  class="uk-container-expand uk-background-cover container-hero-large"
  style="background-image: url(assets/img/hero-kid-blocks.jpg)"
></div>

<div class="uk-section uk-container-expand">
  <div class="uk-container uk-container-expand" id="about">
    <h1 class="uk-heading-medium">RG Foundations</h1>
    <div class="uk-panel">
      <article class="uk-article">
        <p>
          RG Foundations is an alternative educational setting built on the
          belief that every child deserves a learning environment where they are
          truly seen, supported, and empowered. Founded by former Special
          Education Teachers and current Board Certified Behavior Analysts,
          Christina Rodriguez and Alana Guilarte, RG Foundations was created in
          response to the gaps many students face in traditional classrooms. Our
          mission is to nurture confidence, independence, and a genuine love for
          learning through individualized instruction, compassionate guidance,
          and evidence-based strategies. We are committed to preparing each
          student for lifelong success, academically, socially, and emotionally.
        </p>
        <p>
          At the heart of RG Foundations is the vision that every child who
          walks through our doors is capable of reaching their fullest potential
          when given the right tools, support, and opportunities. Christina and
          Alana’s combined experiences in both education and behavioral science
          shape a program that prioritizes meaningful progress, emotional
          safety, and holistic development. Through innovative teaching methods
          and a deeply personalized approach, we strive to create an inclusive,
          engaging, and empowering environment where students build essential
          skills and thrive beyond the classroom.
        </p>
        <p>
          RG Foundations is more than a school, it is a community built on
          connection, collaboration, and shared purpose. We recognize the unique
          strengths and needs of each student and tailor instruction to honor
          their individuality. Through strong partnerships with families,
          structured support, and a warm, nurturing setting, we cultivate
          belonging, curiosity, and consistent growth. By celebrating progress
          at every stage and embedding values of confidence, independence, and
          resilience into each day, RG Foundations lays the foundation for a
          bright future and the lifelong success of every child we serve.
        </p>
      </article>
      <div class="uk-margin-medium-top uk-text-center">
        <a
          href="mailto:info@rgfoundations.com?subject=Schedule a Tour Request"
          class="uk-button uk-button-primary uk-button-large"
        >
          Schedule a Tour
        </a>
      </div>
    </div>
  </div>

  <div
    class="uk-container uk-container-expand uk-margin-xlarge-top"
    id="academics"
  >
    <h1 class="uk-heading-medium">Academics</h1>

    <div class="educational-grid uk-child-width-1-1@s" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  School Philosophy
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              RG Foundations is more than a alternative schooling program, it is
              a community where students, teachers, and families come together
              to create a nurturing and supportive environment. We believe that
              every child deserves a place where they feel valued, understood,
              and empowered to reach their full potential. Recognizing that each
              student is unique, we are committed to providing individualized
              instruction that honors their strengths and challenges. Through a
              compassionate approach, structured support, and evidence-based
              practices, we equip our students with the academic, social, and
              life skills needed for success beyond the classroom.
            </p>
            <p>
              We believe that true learning extends beyond the classroom, and by
              fostering strong partnerships with families, we ensure that every
              child receives the encouragement and consistency they need to
              thrive. By cultivating a sense of belonging, inspiring curiosity,
              and celebrating progress at every stage, we lay the foundation for
              confidence, independence, and a bright future.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="educational-grid uk-child-width-1-2@s" uk-grid>
      <div class="uk-card uk-width-1-1">
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Educational Programming
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              At RG Foundations, we use the Unique Learning System for all
              students. The Unique Learning System is a comprehensive,
              standards-based curriculum designed primarily for students with
              disabilities, particularly those with cognitive impairments,
              autism, and other special educational needs. Its aim is to provide
              accessible, individualized, and engaging content to help students
              meet academic goals and develop essential life skills. Here's an
              overview of the key elements of the curriculum:
            </p>
            <ul>
              <li>
                Differentiated Instruction: The curriculum is designed to meet
                the diverse needs of learners by offering materials and
                activities at varying levels of complexity. It allows educators
                to tailor lessons based on each student's abilities and learning
                pace.
              </li>
              <li>
                Comprehensive Subject Areas: The system covers a broad range of
                subjects, including:
                <ul>
                  <li>
                    Math: Focuses on foundational skills such as counting, basic
                    arithmetic, measurement, and problem-solving.
                  </li>
                  <li>
                    Language Arts: Includes reading comprehension, vocabulary
                    development, writing, and communication skills.
                  </li>
                  <li>
                    Science and Social Studies: Engages students with simplified
                    content related to scientific concepts and social studies
                    topics like history, geography, and civics.
                  </li>
                  <li>
                    Social and Emotional Learning: Incorporates lessons that
                    support emotional awareness, conflict resolution, and social
                    skills development.
                  </li>
                </ul>
              </li>
              <li>
                Assessment and Progress Monitoring: Unique Learning System
                includes tools for ongoing assessment of students' progress.
                Teachers can track individual performance and adjust
                instructional strategies accordingly.
              </li>
              <li>
                Customization and Flexibility: The curriculum allows educators
                to modify lessons based on the specific needs and preferences of
                each student, ensuring that all learners can engage meaningfully
                with the content.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Handwriting
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              Handwriting Without Tears (HWT) is a comprehensive handwriting
              program designed to teach children how to print and write with
              ease, confidence, and legibility. Developed by Jan Olsen, a
              special education teacher, the program focuses on building a solid
              foundation in handwriting skills through a developmentally
              appropriate approach. It is often used in early childhood
              education settings, schools, and with students who have learning
              challenges.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header light-card-header uk-border-rounded">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <!-- <div class="uk-width-auto">
                <img
                  class="uk-border-circle"
                  width="40"
                  height="40"
                  src="assets/img/placeholder_600x400.svg"
                />
              </div> -->
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  Extracurriculars
                </h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body light-card-body uk-border-rounded">
            <p>
              At RG Foundations, students participate in a well-rounded,
              enriched school day that goes beyond academics. Our program
              includes thoughtfully designed Art, Music, and Physical Education
              experiences that support creativity, regulation, motor
              development, and social engagement. Through hands-on art projects,
              movement-based PE activities, and interactive music sessions,
              students build confidence while exploring new skills in a
              supportive and adaptable environment. Each activity is structured
              with individualized support to ensure every child can participate
              meaningfully, express themselves, and enjoy a balanced, engaging
              learning experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="admissions uk-container uk-container-expand" id="admissions">
  <div class="uk-margin-large-top">
    <h2 class="uk-heading-small uk-text-center">Tuition & Fees</h2>
    <div class="uk-overflow-auto uk-margin-medium-top">
      <p>
        The following outlines the tuition rates, payment options, and financial
        policies for enrollment at RG Foundations for the 2026–2027 academic
        year.
      </p>
      <table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tuition</td>
            <td>$ 25,500.00</td>
          </tr>
          <tr>
            <td>Registration and Application Fee</td>
            <td>$ 250.00</td>
          </tr>
          <tr>
            <td>Materials</td>
            <td>$ 825.00</td>
          </tr>
          <tr>
            <td>Specials</td>
            <td>$ 250.00</td>
          </tr>
          <tr>
            <td>Total Fees (One Time Fee)</td>
            <td>$1,275.00</td>
          </tr>
          <tr>
            <td>Total Tuition and Fees</td>
            <td>$ 27,250.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-margin-top uk-text-small uk-text-muted">
      <p>
        <strong>Note:</strong> Step Up Scholarships Accepted and payment plans
        are available. Please contact us for more information.
      </p>
    </div>
    <div class="uk-margin-medium-top uk-text-center">
      <a
        href="mailto:info@rgfoundations.com?subject=Tuition Information Request"
        class="uk-button uk-button-primary uk-button-large"
      >
        Contact Us for Tuition Information
      </a>
    </div>
  </div>
</div>

<div class="uk-container uk-container-expand uk-margin-xlarge-top" id="team">
  <h1 class="uk-heading-medium">Team</h1>
  <div class="uk-child-width-1-2@s uk-padding-medium" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header dark-card-header uk-border-rounded">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-border-pill"
                width="150"
                height="150"
                src="assets/img/alana.jpg"
                alt="Alana Usategui Guilarte, Owner and Founder"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom rg-text-xlarge">
                Alana
              </h2>
              <p class="rg-text-large uk-margin-remove">Usategui Guilarte</p>
              <p class="uk-text-meta uk-margin-large-top">Owner & Founder</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body dark-card-body uk-border-rounded">
          <p>
            Alana Guilarte is a BCBA and former Special Education teacher. With
            over 17 years of experience working with individuals with different
            needs. Alana’s personal experience having brother’s with Autism has
            driven her passion to build environments to not only foster learning
            and independence, but celebrate individuals!
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-card-header dark-card-header uk-border-rounded">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-auto">
              <img
                class="uk-object-cover uk-border-pill"
                width="150"
                height="150"
                src="assets/img/christina.jpg"
                alt="Christina Rodriguez, Owner and Founder"
              />
            </div>
            <div class="uk-width-expand">
              <h2 class="uk-card-title uk-margin-remove-bottom rg-text-xlarge">
                Christina
              </h2>
              <p class="rg-text-large uk-margin-remove">Rodriguez</p>
              <p class="uk-text-meta uk-margin-large-top">Owner & Founder</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body dark-card-body uk-border-rounded">
          <p>
            Christina holds a Bachelor's and Master's degree in Special
            Education from Florida International University, with a
            concentration in Autism Spectrum Disorders. She also earned a
            Master's degree in Psychology from the University of Miami,
            specializing in Applied Behavior Analysis. With over 20 years of
            experience in the field, Christina has dedicated her career to
            supporting individuals with special needs across educational and
            behavioral settings.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container footer" id="contact">
    <footer class="uk-text-center">
      <svg width="150" height="150" viewBox="0 0 150 150">
        <defs>
          <mask id="circle-mask">
            <rect width="150" height="150" fill="black" />
            <circle cx="75" cy="75" r="75" fill="white" />
          </mask>
        </defs>
        <g mask="url(#circle-mask)">
          <!-- 
            Adjust x, y, width, height, and transform to zoom and center as needed.
            Increase width+height for zoom-in; use x/y to offset.
          -->
          <image
            href="assets/img/rgfoundationslogo.svg"
            x="-75"
            y="-75"
            width="300"
            height="300"
          />
        </g>
      </svg>
      <address>
        <p>
          <i class="fas fa-envelope-open-text"></i>
          Email:
          <a
            href="mailto:info@rgfoundations.com?subject=General Information Request"
            >info@rgfoundations.com</a
          >
          <br />
          <i class="fas fa-phone"></i>
          Phone:
          <a href="tel:305-586-2953">(305) 586-2953</a>
        </p>
        <p>
          <a
            href="https://www.google.com/maps/search/?api=1&query=7701+SW+62nd+Ave+STE+200,+South+Miami,+FL+33143"
            target="_blank"
            >7000 SW 62nd Ave STE 407<br />
            South Miami, FL 33143</a
          >
        </p>
        <p>
          <i class="fas fa-copyright"></i>
          RG Foundations LLC
        </p>
      </address>
    </footer>
  </div>
</div>
