/* You can add global styles to this file, and also import other style files */

html {
  color: #2c3424;
  // background: rgba(44, 52, 36, 0.1);
  background: rgb(255, 255, 255);
}

.uk-link,
a {
  color: #768064;
}

.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
  color: #6a7187;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #495662;
}

.uk-card-default .uk-card-title,
.uk-card-default {
  color: #daded8;
  background-color: #768064;
}

.uk-text-lead {
  color: #495662;
}

.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar[_ngcontent-mvw-c16] a[_ngcontent-mvw-c16],
.uk-text-meta {
  color: #f3f0e8;
}

.uk-card-primary.uk-card-body .uk-close,
.uk-card-primary > :not([class*='uk-card-media']) .uk-close,
.uk-card-secondary.uk-card-body .uk-close,
.uk-card-secondary > :not([class*='uk-card-media']) .uk-close,
.uk-light .uk-close,
.uk-offcanvas-bar .uk-close,
.uk-overlay-primary .uk-close,
.uk-section-primary:not(.uk-preserve-color) .uk-close,
.uk-section-secondary:not(.uk-preserve-color) .uk-close,
.uk-tile-primary:not(.uk-preserve-color) .uk-close,
.uk-tile-secondary:not(.uk-preserve-color) .uk-close {
  color: #2c3424;
}

.uk-navbar-nav > li > a,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  color: #daded8;
}

.uk-padding-medium {
  padding: 42px;
}

.rg-text-large {
  font-size: 1.5rem;
  line-height: 1;
}

.rg-text-xlarge {
  font-size: 3rem;
  line-height: 1.5;
}

.light-card-header,
.light-card-header .uk-card-title {
  color: #2c3424;
  background-color: #daded8;
  margin-bottom: 5px;
}

.light-card-body {
  color: #2c3424;
  background-color: #f3f0e8;
}
